@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');
@import "~bootstrap/scss/bootstrap";

body {
    background-color: #F7F4F0;
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-left: 0.40rem;
    padding-top: 22px;
}

h2 {
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-left: 0.40rem;
    padding-top: 16px;
}

body>div.container-fluid {
    padding: 0;
}

.container {
    padding-left: 0.40rem !important;
}

.text-secondary {
    color: #1C1C1C;
}

.bg-primary {
    background-color: #E9D7A3;
}

.bg-secondary {
    background-color: #1C1C1C;
}

.btn-outline-secondary {
    color: #1C1C1C;
    border-radius: 5px !important;
    border-color: #1C1C1C;
}

.btn-outline-secondary:hover {
    color: #1C1C1C;
    background-color: #E9D7A3;
    border-color: #E9D7A3;
}

.nav-link:focus,
.nav-link:hover {
    color: #E9D7A3 !important;
}

.bi {
    vertical-align: -.125em;
    /* fill: currentColor; */
}

.text-small {
    font-size: 85%;
}

.dropdown-toggle {
    outline: 0;
}