@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');
@import "~bootstrap/scss/bootstrap";

$color-beige: #F7F4F0;
$color-black: #1C1C1C;
$color-yellow: #E9D7A3;

/* OVERRIDES ------------------------------------------------*/

body {
    background-color: $color-beige;
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-left: 0.40rem;
    padding-top: 22px;
}

h2 {
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-left: 0.40rem;
    padding-top: 16px;
}

body>div.container-fluid {
    padding: 0;
}

.container {
    padding-left: 0.40rem !important;
}

.text-secondary {
    color: $color-black;
}

.bg-primary {
    background-color: $color-yellow;
}

.bg-secondary {
    background-color: $color-black;
}

.btn-outline-secondary {
    color: $color-black;
    border-radius: 5px !important;
    border-color: $color-black;
    border-width: 2px;
    text-transform: uppercase;
}

.btn-outline-secondary:hover {
    color: $color-black;
    background-color: $color-yellow;
    border-color: $color-yellow;
}

.nav-link:focus,
.nav-link:hover {
    color: $color-yellow !important;
}

/* CARD ------------------------------------------------*/

.card {
    height: 100%;
    background-color: transparent;
    border: none;

    h3 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin-top: 1.5rem;
        font-size: 25px;
    }

    h4 {
        margin-bottom: 1.5rem;
        font-size: 20px;
        font-weight: 200;
    }

    .crop-img {
        position: relative;
        min-height: 18rem;
        max-height: 18rem;
        overflow: hidden;
        vertical-align: middle;
    }

    .frame-decoration {
        display: block;
        position: absolute;
        border: 2px white solid;
        top: 30px;
        bottom: 30px;
        left: 30px;
        right: 30px;
    }

    .frame-decoration:hover {
        border: 2px $color-yellow solid;
    }

    .frame-decoration:hover .btn-overlap {
        border: 2px $color-yellow solid;
        background-color: $color-yellow;
    }

    .btn-overlap {
        display: block;
        position: absolute;
        bottom: 0px;
        right: 0px;
    }

    .btn-outline-secondary {
        color: $color-black;
        border-color: white;
        background-color: white;
        border-radius: 0 !important;
    }

    p {
        text-align: justify;
    }
}

.crop-img img {
    // margin-top: -20%;
}

/* OTHER ------------------------------------------------ */

.bi {
    vertical-align: -.125em;
    /* fill: currentColor; */
}

.text-small {
    font-size: 85%;
}

.dropdown-toggle {
    outline: 0;
}

/* FOOTER ------------------------------------------------ */

.footercontainer {
    background-color: $color-yellow;
}