<div class="container-fluid">
	<div class="row">
		<div class="container col-sm-8 offset-sm-2">
			<p>
				<h1>
					Groupe Hôtelier Hypnos
				</h1>
			</p>
		</div>
	</div>
	<div class="container col-sm-6 offset-sm-2">
		<p>Lorem ipsum dolor sit amet. Qui voluptas omnis ex unde dignissimos qui obcaecati nulla ea delectus voluptatibus. Eum laudantium quia a magnam officiis et quos aspernatur. Ea ipsum enim At totam iure est reiciendis officiis ut iure ipsa aut quasi repellendus. Cum mollitia pariatur id dicta voluptatum a dolorem explicabo est vitae eius  modi eaque nam dignissimos repudiandae. Nam labore architecto quo Quis perferendis aut laudantium similique est vero dignissimos cum animi omnis sed amet corporis eum magnam labore.
		</p>
	</div>
	<div class="container col-sm-8 offset-sm-2">
		<p>
			<h2>
				7 hôtels disponibles
			</h2>
		</p>
	</div>
</div>