<div class="container-fluid">
	<div class="row">
		<nav class="navbar navbar-expand-lg navbar-light bg-white">
			<div class="container col-sm-10 offset-sm-2">
				<a class="navbar-brand" href="index.php"><img src="../../images/hypnos.png" width="70px" alt="Hypnos logo"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item px-5">
							<a class="nav-link" href="/index.php">Accueil</a>
						</li>
						<li class="nav-item px-5 dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Etablissements
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				{% for etablissement in etablissements %}
								<a class="dropdown-item" href="{{path('etab_list',{'id': etablissement.etaid})}}">{{ etablissement.name }}</a>
				{% endfor %}
							</div>
						</li>
						<li class="nav-item px-5">
							<a class="nav-link" href="contact.php">Contact</a>
						</li>
					</ul>
											{% if app.user %}
					<div class="d-flex">
						<a class="btn btn-outline-secondary" href="/admin" role="button">Mon compte</a>&nbsp;<a href="{{ path('app_logout') }}"class="btn btn-outline-secondary">Déconnexion</a>
							{% else %}
					<div class="d-flex">
						<a class="btn btn-outline-secondary" href="/login" role="button">Me connecter</a>
					{% endif %}

					</div>
				</div>
			</div>
		</nav>
	</div>
</div>
