<form method="post" action="{{ path('reservation_delete', {'id': reservation.resid}) }}" onsubmit="return confirm('Voulez vous vraiment annuler cette réservation ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.resid) }}">
    <button class="btn btn-info">Annuler mon séjour</button>
</form>